# Copy this file to .env and fill values from the assignment PDF.
# Commit this template only. Never commit .env.

BASE_URL=https://auth.pre.stgrapidusertests.com
APP_URL=https://app.pre.stgrapidusertests.com

BASIC_AUTH_USERNAME=
BASIC_AUTH_PASSWORD=

LOGIN_EMAIL=
LOGIN_PASSWORD=

SSO_EMAIL=
SSO_PASSWORD=
AUTH0_HOST=
AUTH0_CLIENT_ID=
BROWSER_CHANNEL=chrome
